<footer id="contact">
    <div class="main-content">
      <div class="left box">
       <h2 class="heading">Help</h2>
        <div class="content">
            <p>
              Petlify celebrates the love and passion pet parents have for their pets. Starting with the vision to provide and curate reliable information to pet lovers we have evolved into a platform and services.
              Feel free to contact us for any queries. We'll be happy to help you!
            </p>
            <div class="social">
              <a href="#"><i class="fa-brands fa-facebook-f"></i></a> 
              <a href="#"><i class="fa-brands fa-twitter"></i></a>
              <a href="#"><i class="fa-brands fa-instagram"></i></a>  
              <a href="#"><i class="fa-brands fa-youtube"></i></a> 
            </div>
        </div>
      </div>

    <div class="centerbox">
        <h2 class="heading">Address</h2>
        <div class="phone sub">
            <span class="ic fas fa-phone-alt"></span>
            <span class="text">9563245887</span>  
        </div>
        <div class="email sub">
            <span class="ic fas fa-envelope"></span>
            <span class="text">petlify@gmail.com</span>  
        </div>
      
        <div class="place sub">
          <span class="ic fas fa-map-marker-alt"></span>
          <span class="text">Jamia Nagar, New Delhi</span>  
        </div>
      </div>

      <div class="rightbox">
        <h2 class="heading">Contact us</h2>
        <div class="content">
            <form action="/contact" method="post">
                <div class="email">
                    <div class="text">Email</div>
                    <input type="email" name="email" required>
                </div>
                <div class="msg">
                  <div class="text">Message</div>  
                  <textarea cols="20" rows="3" name="message" required></textarea>
                </div>

                <button type="submit">Submit</button>
            </form>
        </div>
      </div>
     
    </div>
    <div class="endNote">
        <p>
            <i class="fa-regular fa-copyright"></i>
            2023 Copyright Petlify. All Rights Reserved
        </p>
      </div>
</footer>
