<footer id="contact">
    <div class="main-content">
      <div class="left box">
       <h2 class="heading">Help</h2>
        <div class="content">
            <p >
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos laudantium eligendi quia amet laborum quae modi qui distinctio, aperiam reiciendis sunt harum ipsa, animi accusamus nulla dolor provident velit aut.
            </p>
            <div class="social">
              <a href="#"><i class="fa-brands fa-facebook-f"></i></a> 
              <a href="#"><i class="fa-brands fa-twitter"></i></a>
              <a href="#"><i class="fa-brands fa-instagram"></i></a>  
              <a href="#"><i class="fa-brands fa-youtube"></i></a> 
            </div>
        </div>
      </div>

    <div class="centerbox">
        <h2 class="heading">Address</h2>
        <div class="phone sub">
            <span class="ic fas fa-phone-alt"></span>
            <span class="text">091-00225</span>  
        </div>
        <div class="email sub">
            <span class="ic fas fa-envelope"></span>
            <span class="text">abc@gmail</span>  
        </div>
      
        <div class="place sub">
          <span class="ic fas fa-map-marker-alt"></span>
          <span class="text">Jamia Nagar</span>  
        </div>
      </div>

      <div class="rightbox">
        <h2 class="heading">Contact us</h2>
        <div class="content">
            <form action="#">
                <div class="email">
                    <div class="text">Email</div>
                    <input type="email" required>
                </div>
                <div class="msg">
                  <div class="text" >Message</div>  
                  <textarea cols="20" rows="3" required></textarea>
                </div>

                <button type="submit">Submit</button>
            </form>
        </div>
      </div>
     
    </div>
    <div class="endNote">
        <p>
            <i class="fa-regular fa-copyright"></i>
            2023 Copyright Petlify. All Rights Reserved
        </p>
      </div>
</footer>
