<%- include('partials/head')%>
<head>
    <link rel="stylesheet" href="\public\css\adoptForm.css">
</head>
<body>
      <div class="wrapper flex">
         <a href="/">
         <span class="icon-close"><ion-icon name="close"></ion-icon></span></a>
         <div class="form-box login">
               <div class="flex">
                  <img src="\public\Images\paw-print.png" class="paw">
                  <h2>Details</h2>
               </div>
               <form action="/adoptForm" method="post">
                  <div class="input-box box1">
                     <span class="icon"><ion-icon name="person"></ion-icon></span>
                     <input type="text" name="fullName" required>
                     <label>Full Name</label>
                  </div>
                  <div class="input-box">
                     <span class="icon"><ion-icon name="call"></ion-icon></span>
                     <input type="tel" name="phone" required>
                     <label>Phone no</label>
                  </div>
                  <div class="input-box">
                     <span class="icon"><ion-icon name="home"></ion-icon></span>
                     <input type="text" name="address" required>
                     <label>Address</label>
                  </div>
                  <div class="input-box">
                     <span class="icon"><ion-icon name="map"></ion-icon></span>
                     <input type="text" name="city" required>
                     <label>City</label>
                  </div>
                  <div class="input-box">
                     <span class="icon"><ion-icon name="navigate"></ion-icon></span>
                     <input type="text" name="state" required>
                     <label>State</label>
                  </div>
                  <input type="hidden" id="petId" name="petID" value="<%=id%>">
                  <input type="hidden" id="pet" name="pet" value="<%=pet%>">
                 <button type="submit" class="btn">Adopt</button>
               </form>
         </div>
            <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
            <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
     </form>
  </div> 
</body>
</html>