<%- include('partials/head')%>
<head>
    <link rel="stylesheet" href="\public\css\home.css">
</head>
<body>
    <div class="main">
        <div class="nav">
            <div class="nav-menu">
                <i class="fa-solid fa-paw fa-xl"></i>
                <ul class="flex">
                    <li><a href="/" class="home hover">Home</a></li>
                    <li><a href="testimonial" class="hover">Testimonials</a></li>
                    <li><a href="#contact" class="hover">Contact</a></li>
                </ul>
                <div class="buttons">
                    <% if(!user) { %>
                    <a href="register"><button class="signUp" type="submit">SignUp</button></a>
                    <a href="login"><button class="login hover2" type="submit">Login</button></a>
                    <% } else { %>
                    <a href="logout"><button class="login hover2" type="submit">Logout</button></a>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
        <div class="container colour flex flex-dr">
            <div class="content">
                    <div class="headImg flex">
                    <img src="\public\Images\cat.png" alt="cat" class="catImg" width="70px" height="70px">
                    <img src="\public\Images\dog2.png" alt="dog" width="70px" height="70px">
                    </div>
                    <div class="flex">
                        <img class="mous" src="\public\Images\asset 16.svg">
                        <div>
                        <h1 class="adopt">ADOPT</h1>
                        </div>
                        <img src="\public\Images\asset 16.svg">
                    </div>
                    <div class="dbuy flex fCol">
                        <h2>DON'T BUY</h2>   
                        <a href="adoptCat"><button class="adoptButton hover2">Find Your Pet!</button></a>
                    </div>   
            </div>
            
    </div>
    <div class="about container">
        <h1 class="aboutme">ABOUT US</h1>
        <div class="flex">
            <div class="para">
                <p>Petlify is an organization that has been rescuing stray and street pets since 2010. This non-profit organization helps shelter and rescues homeless cats and dogs. We keep our pets physically and mentally healthy so they can find their best-fit homes. Our small organization shelters over 2,000 cats and dogs by providing quality food and the best medical care. We understand that our pets need caring people that keep them happy, and healthy, and give them unconditional love.
                </p>
            </div>
            
            <div class="imgBox">
                <img class="img1" src="\public\Images\asset 24.svg" height="607px" width="638px" alt="">
                <img class="img2" src="\public\Images\asset 4.jpeg" height="306px" width="428px">
                <img src="\public\Images\asset 19.svg" alt="" class="img3" height="40px" width="40px">
                <img src="\public\Images\asset 19.svg" alt="" class="img4" height="40px" width="40px">
                <img src="\public\Images\asset 19.svg" alt="" class="img5" height="40px" width="40px">
                <img src="\public\Images\asset 20.svg" alt="" class="img6" height="70px" width="70px">
            </div>
        </div>
        
    </div>
    <script src="/server.js"></script>
    <%- include('partials/footer')%>
</body>
</html>