<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="\public\css\home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/2d4e9f7759.js" crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Barlow:wght@100;200&display=swap" rel="stylesheet">
</head>
<body>
   <div class="main">
        <div class="nav">
            <div class="nav-menu">
                <div class="icon">
                    <i class="fa-solid fa-paw fa-xl"></i>
                </div>
                <ul class="flex">
                    <li><a href="" class="home hover">Home</a></li>
                    <li><a href="" class="hover">Products</a></li>
                    <li><a href="" class="hover">Gallery</a></li>
                    <li><a href="" class="hover">Contact</a></li>
                </ul>
                <div class="buttons">
                    <button class="signUp" type="submit">SignUp</button>
                    <button class="login" type="submit">Login</button>
                </div>
            </div>
        </div>
    </div>
        <div class="container colour flex flex-dr">
            <div class="content">
                    <div class="headImg flex">
                    <img src="\public\Images\cat.png" alt="cat" class="catImg" width="70px" height="70px">
                    <img src="\public\Images\dog2.png" alt="dog" width="70px" height="70px">
                    </div>
                    <div class="flex">
                        <img class="mous" src="\public\Images\asset 16.svg">
                        <div>
                        <h1 class="adopt">ADOPT</h1>
                        </div>
                        <img src="\public\Images\asset 16.svg">
                    </div>
                    <div class="dbuy flex">
                        <h2>DON'T BUY</h2>
                    </div>
            </div>
            
    </div>
    <div class="about container">
        <h1 class="aboutme">ABOUT ME</h1>
        <div class="flex">
            <div class="para">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, totam inventore! Nam, architecto tempora. Quos, quidem. Quo odio optio nemo, fugiat obcaecati ipsam adipisci rem consequuntur earum officiis? Distinctio, commodi!
                    Quidem eligendi, ut provident alias praesentium odit dolorem minus suscipit nostrum velit voluptas cum qui quis? Tenetur, voluptatem adipisci cumque corporis odit quos autem explicabo ad possimus temporibus cupiditate officiis.
                  </p>
            </div>
            
            <div class="imgBox">
                <img class="img1" src="\public\Images\asset 24.svg" height="607px" width="638px" alt="">
                <img class="img2" src="\public\Images\asset 4.jpeg" height="306px" width="428px">
                <img src="\public\Images\asset 19.svg" alt="" class="img3" height="40px" width="40px">
                <img src="\public\Images\asset 19.svg" alt="" class="img4" height="40px" width="40px">
                <img src="\public\Images\asset 19.svg" alt="" class="img5" height="40px" width="40px">
                <img src="\public\Images\asset 20.svg" alt="" class="img6" height="70px" width="70px">
            </div>
        </div>
        
    </div>
    <section>

    </section>
</body>
</html>