<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="\public\css\home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/2d4e9f7759.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css2?family=Barlow:wght@100;200&display=swap" rel="stylesheet">
</head>
<body>
   <div class="main">
        <div class="nav">
            <div class="nav-menu">
                <div class="icon">
                    <i class="fa-solid fa-paw fa-xl"></i>
                </div>
                <ul class="flex">
                    <li><a href="" class="home hover">Home</a></li>
                    <li><a href="" class="hover">Products</a></li>
                    <li><a href="" class="hover">Gallery</a></li>
                    <li><a href="" class="hover">Contact</a></li>
                </ul>
                <div class="buttons">
                    <button class="signUp" type="submit">SignUp</button>
                    <a href="register.html"><button class="login hover2" type="submit">Login</button></a>
                </div>
            </div>
        </div>
    </div>
        <div class="container colour flex flex-dr">
            <div class="content">
                    <div class="headImg flex">
                    <img src="\public\Images\cat.png" alt="cat" class="catImg" width="70px" height="70px">
                    <img src="\public\Images\dog2.png" alt="dog" width="70px" height="70px">
                    </div>
                    <div class="flex">
                        <img class="mous" src="\public\Images\asset 16.svg">
                        <div>
                        <h1 class="adopt">ADOPT</h1>
                        </div>
                        <img src="\public\Images\asset 16.svg">
                    </div>
                    <div class="dbuy flex fCol">
                        <h2>DON'T BUY</h2>   
                        <a href="adopt.html"><button class="adoptButton hover2">Find Your Pet!</button></a>
                    </div>   
            </div>
            
    </div>
    <div class="about container">
        <h1 class="aboutme">ABOUT ME</h1>
        <div class="flex">
            <div class="para">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, totam inventore! Nam, architecto tempora. Quos, quidem. Quo odio optio nemo, fugiat obcaecati ipsam adipisci rem consequuntur earum officiis? Distinctio, commodi!
                    Quidem eligendi, ut provident alias praesentium odit dolorem minus suscipit nostrum velit voluptas cum qui quis? Tenetur, voluptatem adipisci cumque corporis odit quos autem explicabo ad possimus temporibus cupiditate officiis.
                  </p>
            </div>
            
            <div class="imgBox">
                <img class="img1" src="\public\Images\asset 24.svg" height="607px" width="638px" alt="">
                <img class="img2" src="\public\Images\asset 4.jpeg" height="306px" width="428px">
                <img src="\public\Images\asset 19.svg" alt="" class="img3" height="40px" width="40px">
                <img src="\public\Images\asset 19.svg" alt="" class="img4" height="40px" width="40px">
                <img src="\public\Images\asset 19.svg" alt="" class="img5" height="40px" width="40px">
                <img src="\public\Images\asset 20.svg" alt="" class="img6" height="70px" width="70px">
            </div>
        </div>
        
    </div>
    
        <footer>
            <div class="main-content">
              <div class="left box">
               <h2 class="heading">Help</h2>
                <div class="content">
                    <p >
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos laudantium eligendi quia amet laborum quae modi qui distinctio, aperiam reiciendis sunt harum ipsa, animi accusamus nulla dolor provident velit aut.
                    </p>
                    <div class="social">
                      <a href="#"><i class="fa-brands fa-facebook-f"></i></a> 
                      <a href="#"><i class="fa-brands fa-twitter"></i></a>
                      <a href="#"><i class="fa-brands fa-instagram"></i></a>  
                      <a href="#"><i class="fa-brands fa-youtube"></i></a> 
                    </div>
                </div>
              </div>
    
            <div class="centerbox">
                <h2 class="heading">Address</h2>
                <div class="phone sub">
                    <span class="ic fas fa-phone-alt"></span>
                    <span class="text">091-00225</span>  
                </div>
                <div class="email sub">
                    <span class="ic fas fa-envelope"></span>
                    <span class="text">abc@gmail</span>  
                </div>
              
                <div class="place sub">
                  <span class="ic fas fa-map-marker-alt"></span>
                  <span class="text">Jamia Nagar</span>  
                </div>
              </div>
    
              <div class="rightbox">
                <h2 class="heading">Contact us</h2>
                <div class="content">
                    <form action="#">
                        <div class="email">
                            <div class="text">Email</div>
                            <input type="email" required>
                        </div>
                        <div class="msg">
                          <div class="text" >Message</div>  
                          <textarea cols="20" rows="3" required></textarea>
                        </div>

                        <button type="submit">Submit</button>
                    </form>
                </div>
              </div>
             
            </div>
            <div class="endNote">
                <p>
                    <i class="fa-regular fa-copyright"></i>
                    2023 Copyright Petlify. All Rights Reserved
                </p>
              </div>
        </footer>
    <script src="/server.js"></script>
</body>
</html>