<%- include('partials/head')%>
<head>
    <link rel="stylesheet" href="\public\css\testimonial.css">
</head>
<body>

<!--     
    <section>
        <h2>Testimonials</h2>
    </section> -->
    <section id="test" >
          <div class="swiper mySwiper container">
            <div class="swiper-wrapper box">
                <div class="swiper-slide card">
                    <div class="content">
                        <div class="image">
                            <img src="\public\Images\t1.jfif">
                        </div>
                        <div class="info">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto ex officia molestias numquam eveniet laudantium mollitia fuga eos maxime minus!
                        </div>
                        <div class="name-job">
                            <p class="name">Sherlin Handa</p>
                            <hr>
                        </div>
                        <div class="job">Manager at CrossLab</div>
                    </div>
                </div>
                <div class="swiper-slide card">
                    <div class="content">
                        <div class="image">
                            <img src="\public\Images\t2.webp">
                        </div>
                        <div class="info">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto ex officia molestias numquam eveniet laudantium mollitia fuga eos maxime minus!
                        </div>
                        <div class="name-job">
                            <p class="name">Shreya Maheshwari</p>
                            <hr>
                        </div>
                        <div class="job">Student at Harvard</div>
                    </div>
                </div>
                <div class="swiper-slide card">
                    <div class="content">
                        <div class="image">
                            <img src="\public\Images\t3.jfif">
                        </div>
                        <div class="info">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto ex officia molestias numquam eveniet laudantium mollitia fuga eos maxime minus!
                        </div>
                        <div class="name-job">
                            <p class="name">Amir Husain</p>
                            <hr>
                        </div>
                        <div class="job">Doctor</div>
                    </div>
                </div>
                <div class="swiper-slide card">
                    <div class="content">
                        <div class="image">
                            <img src="\public\Images\t1.jfif">
                        </div>
                        <div class="info">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto ex officia molestias numquam eveniet laudantium mollitia fuga eos maxime minus!
                        </div>
                        <div class="name-job">
                            <p class="name">Sherlin Handa</p>
                            <hr>
                        </div>
                        <div class="job">Manager at CrossLab</div>
                    </div>
                </div>
                <div class="swiper-slide card">
                    <div class="content">
                        <div class="image">
                            <img src="\public\Images\t2.webp">
                        </div>
                        <div class="info">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto ex officia molestias numquam eveniet laudantium mollitia fuga eos maxime minus!
                        </div>
                        <div class="name-job">
                            <p class="name">Shreya Maheshwari</p>
                            <hr>
                        </div>
                        <div class="job">Student at Harvard</div>
                    </div>
                </div>
                <div class="swiper-slide card">
                    <div class="content">
                        <div class="image">
                            <img src="\public\Images\t3.jfif">
                        </div>
                        <div class="info">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto ex officia molestias numquam eveniet laudantium mollitia fuga eos maxime minus!
                        </div>
                        <div class="name-job">
                            <p class="name">Amir Husain</p>
                            <hr>
                        </div>
                        <div class="job">Doctor</div>
                    </div>
                </div>  <div class="swiper-slide card">
                    <div class="content">
                        <div class="image">
                            <img src="\public\Images\t1.jfif">
                        </div>
                        <div class="info">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto ex officia molestias numquam eveniet laudantium mollitia fuga eos maxime minus!
                        </div>
                        <div class="name-job">
                            <p class="name">Sherlin Handa</p>
                            <hr>
                        </div>
                        <div class="job">Manager at CrossLab</div>
                    </div>
                </div>
                <div class="swiper-slide card">
                    <div class="content">
                        <div class="image">
                            <img src="\public\Images\t2.webp">
                        </div>
                        <div class="info">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto ex officia molestias numquam eveniet laudantium mollitia fuga eos maxime minus!
                        </div>
                        <div class="name-job">
                            <p class="name">Shreya Maheshwari</p>
                            <hr>
                        </div>
                        <div class="job">Student at Harvard</div>
                    </div>
                </div>
                <div class="swiper-slide card">
                    <div class="content">
                        <div class="image">
                            <img src="\public\Images\t3.jfif">
                        </div>
                        <div class="info">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto ex officia molestias numquam eveniet laudantium mollitia fuga eos maxime minus!
                        </div>
                        <div class="name-job">
                            <p class="name">Amir Husain</p>
                            <hr>
                        </div>
                        <div class="job">Doctor</div>
                    </div>
                </div>
             
                <div class="swiper-slide card">
                    <div class="content">
                        <div class="image">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/34/Elon_Musk_Royal_Society_%28crop2%29.jpg/1200px-Elon_Musk_Royal_Society_%28crop2%29.jpg" alt="">
                        </div>
                        <div class="social">
                            <i class="fa-brands fa-facebook"></i>
                            <i class="fa-brands fa-github"></i>
                            <i class="fa-brands fa-twitter"></i>
                        </div>
                        <div class="info">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto ex officia molestias numquam eveniet laudantium mollitia fuga eos maxime minus!
                        </div>
                        <div class="name-job">
                            <p class="name">Elon Musk</p>
                            <hr>
                         
                        </div>
                        <div class="contact">
                            <button class="contact-btn">contact</button>
                        </div>
                        
                    </div>
                </div>
                <div class="swiper-slide card">
                    <div class="content">
                        <div class="image">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/34/Elon_Musk_Royal_Society_%28crop2%29.jpg/1200px-Elon_Musk_Royal_Society_%28crop2%29.jpg" alt="">
                        </div>
                        <div class="social">
                            <i class="fa-brands fa-facebook"></i>
                            <i class="fa-brands fa-github"></i>
                            <i class="fa-brands fa-twitter"></i>
                        </div>
                        <div class="info">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto ex officia molestias numquam eveniet laudantium mollitia fuga eos maxime minus!
                        </div>
                        <div class="name-job">
                            <p class="name">Elon Musk</p>
                            <hr>
                         
                        </div>
                        <div class="contact">
                            <button class="contact-btn">contact</button>
                        </div>
                        
                    </div>
                </div>
                <div class="swiper-slide card">
                    <div class="content">
                        <div class="image">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/34/Elon_Musk_Royal_Society_%28crop2%29.jpg/1200px-Elon_Musk_Royal_Society_%28crop2%29.jpg" alt="">
                        </div>
                        <div class="social">
                            <i class="fa-brands fa-facebook"></i>
                            <i class="fa-brands fa-github"></i>
                            <i class="fa-brands fa-twitter"></i>
                        </div>
                        <div class="info">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto ex officia molestias numquam eveniet laudantium mollitia fuga eos maxime minus!
                        </div>
                        <div class="name-job">
                            <p class="name">Elon Musk</p>
                            <hr>
                           
                        </div>
                        <div class="contact">
                            <button class="contact-btn">contact</button>
                        </div>
                        
                    </div>
                </div>
                <div class="swiper-slide card">
                    <div class="content">
                        <div class="image">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/34/Elon_Musk_Royal_Society_%28crop2%29.jpg/1200px-Elon_Musk_Royal_Society_%28crop2%29.jpg" alt="">
                        </div>
                        <div class="social">
                            <i class="fa-brands fa-facebook"></i>
                            <i class="fa-brands fa-github"></i>
                            <i class="fa-brands fa-twitter"></i>
                        </div>
                        <div class="info">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto ex officia molestias numquam eveniet laudantium mollitia fuga eos maxime minus!
                        </div>
                        <div class="name-job">
                            <p class="name">Elon Musk</p>
                            <hr>
                          
                        </div>
                        <div class="contact">
                            <button class="contact-btn">contact</button>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
       <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
       
   

          
      <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: 3,
      spaceBetween: 30,
      loop: true,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
  </script>
</body>
</html>