<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Petlify</title>
    <link rel="stylesheet" href="/public/css/thanks.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2d4e9f7759.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@100;200&display=swap" rel="stylesheet">
</head>
<body class="flex">
    <main>
        <div class="thanks flex">
            <img height="200px" src="\public\Images\animal-care.png">
            <h1>Thank You</h1>
            <hr>
            <h3>for adopting from Petlify</h3>
        </div>
    </main>
    <script src="/server.js"></script>
</body>
</html>