<%- include('partials/head')%>
<head>
    <link rel="stylesheet" href="/public/css/thanks.css">
</head>
<body class="flex">
    <main>
        <div class="thanks flex">
            <img height="200px" src="\public\Images\animal-care.png">
            <h1>Thank You</h1>
            <hr>
            <h3>for adopting from Petlify</h3>
            <button class="home" onclick="location.href = '/';">Home</button>
        </div>
       
    </main>
    <script src="/server.js"></script>
</body>
</html>