/* link to color palette
https://coolors.co/palette/ff7648-f9dcc4-f4ece1-e07a5f */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body {
    font-family: 'Roboto Slab', serif;
}
h1{
    font-family: 'Amatic SC', cursive;
}
.colour{
    background-color:#f4ece1;
}
.container{
    
    margin-inline: auto;
    height: 500px;
    margin: 0px 50px 50px 50px;
}
.main{
    margin-inline: auto;
    height: 50px;
    margin: 10px 50px 0px 50px;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-grow{
    flex-grow: 1;
}
.nav{
    justify-content: space-between;
}
.logo{
    width:2rem;
}
.nav-menu{
    flex-basis: 730px;
    display: flex;
    align-items: center;
   justify-content: space-between;
}
ul{
    list-style: none;
}
.nav-menu ul{
    justify-content: center;
    gap: 1rem;
    font-size: 1.5rem;
}
a{
    text-decoration: none;
    display: inline-block;
    font-weight: 500;
   
    color:black;
}
.home{
    color:#ff7648;
}
.adopt{
    text-align: center;
    font-size: 12rem;
    font-weight: 100;
}
.hover:hover{
 color:#ff7648;
 transition: 0.2s all ease-in;
}
.buttons{
    font-size: 1.5rem;
}
.signUp, .login{
    border: 1px solid #ff7648;
    padding:10px 20px;
    font-size: 1rem;
    background-color: #ffffff;
    border-radius: 0.5rem;
    cursor: pointer;
}
.login{
    margin-left: 1rem;
    background-color: #ff7648;
    color: aliceblue;
}
.signUp:hover{
    box-shadow: 1px 1px 8px #ff7648;
}
.flex-dr{
    flex-direction: column;
}
.content{
    position: relative;
    top:-5%;
}
.mous{
    transform: rotate(180deg);
}
.dbuy{
    font-size: 20px;
    margin-top: -20px;
    font-family: 'Barlow', sans-serif;
}
.para{
    padding:50px 0 50px 50px;
    width: 50%;
}
.inline-block{
    display: inline-block;
}
.about{
    width: 70%;
    padding: 5% 0 0 15%;
}
.aboutme{
    font-size: 60px;
    margin-left:50px;
}
.imgBox{
    margin: 100px 0 0 100px;
}
.img1{
    top: 520px;
    position: absolute;
    z-index: 2;
    right: 200px; 
}
.img2{
    left: 100px;
    position: relative;
    z-index: 1;
}
.img3
{
    top: 60%; 
    transform: rotate(45deg);
    position: absolute;
    left: 80%;
}
.img4
{
    position: absolute;
    top: 50%;
    left: 75%;
}
.img5
{
    position: absolute;
    top: 80%;
}
.img6
{
    position: absolute;
    top: 70%;
    right: 80%;
}