body{
    background-color: #f4ece1;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    font-family: 'Roboto Slab', serif;
   }
   .wrapper{
       position: absolute;
       width: 400px;
       background: transparent;
       border: 2px solid rgba(255, 255, 255, .5);
       border-radius: 20px;
       backdrop-filter: blur(20px);
       box-shadow: 0 0 30px rgba(244, 41, 10, 0.5);
       margin-top: 75px;
       transition: all 0.4s ease-in-out;
   }
    .regHght{
        height: 515px;
    }
    .lgHght{
        height: 460px;
    }
   .wrapper .form-box{
       width: 80%;
       padding: 40px;
   }
   .wrapper .form-box.register{
       position: absolute;
       transition: none;
   }
   .wrapper .icon-close{
       position: absolute;
       top: 0;
       right: 0;
       width: 45px;
       height: 45px;
       background: #e07a5f;
       font-size: 2rem;
       color: #fff;
       display: flex;
       justify-content: center;
       align-items: center;
       border-top-right-radius: 20px;
       border-bottom-left-radius: 20px;
       cursor: pointer;
       z-index: 1;
   }
   .flex{
        display: flex;
        align-items: center;
        justify-content: center;
   }
   .paw{
        margin-right: 20px;
        height: 40px;
        width: 40px;
   }
   .form-box h2{
       font-size: 4rem;
       margin: 0;
       font-family: 'Amatic SC', cursive;
       color: #e07a5f;
       text-align: center;
   }
   .input-box{
       position: relative;
       width: 100%;
       height: 50px;
       border-bottom: 2px solid #e07a5f;
       margin: 30px 0;
   }
   .input-box input:focus~label,
   .input-box input:valid~label{ 
       top: -5px;
   }
   .input-box label.em{
        margin: 0;
   }
   .input-box label{
       position: absolute;
       top:50%;
       left:5px;
       transform: translate(-50%);
       font-size: 1rem;
       color: #707070;
       font-weight: 600;
       pointer-events: none;
       transition: .5s;
       margin-left: 15px;
   }
   .input-box input{
       width: 80%;
       height: 100%;
       background: transparent;
       border: none;
       outline: none;
       font-size: 0.9rem;
       color: #e07a5f;
       font-weight: 600;
       padding: 0 35px 0 5px;
   }
   .input-box .icon{
       position: absolute;
       right: 8px;
       font-size: 1.2em;
       color: #302f2ff6;
       line-height: 57px;
   }
   .remember-forget{
       font-size: .9em;
       color: #707070;
       font-weight: 500;
       margin: -15px 0 15 px;
       display: flex;
       justify-content: space-between;
   }
   .remember-forget label input{
       accent-color: #707070;
       margin-right: 3px;
   }
   .remember-forget a{
       color: #707070;
       text-decoration: none;
   }
   .remember-forget a:hover{
       text-decoration: underline;
   }
   .btn{
       width: 100%;
       height: 45px;
       background: #e07a5f;
       border: none;
       outline: none;
       border-radius: 6px;
       cursor: pointer;
       font-size: 1em;
       color: #fff;
       font-weight: 500;
       margin-top: 20px;
       transition: 0.3s ease-in-out;
   }
   .btn:hover{
    background: #fc6f40;;
   }
   .login-register{
       font-size: .9em;
       color: #e07a5f;
       text-align: center;
       font-weight: 500;
       margin: 20px 0 10px;
   }
   .login-register p{
    font-weight: 400;
    color: #707070;
   }
   .login-register p a{
       color: #e07a5f;
       text-decoration: none;
       font-weight: 700;
   }
   .login-register p a:hover{
       text-decoration: underline;
   }
   .login-link, .register-link{
    margin-left: 5px;
   }
   .hidden{
    display: none;
   }
   .infoMsg{
    text-align: center;
    background-color: #e07a5f;
    color: rgb(255, 255, 255);
    margin: 15px 10px 0 10px;
    padding: 5px;
    border-radius: 10px;
   }
   .infoMsg p{
    margin: 0;
   }