*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto Slab', serif;
}
.icon{
    height: 20px;
    width: 20px;
}
.nav{
    display: block;
    padding: 20px 0;
    justify-content: space-between;
}
.logo{
    width:2rem;
}
.nav-menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
ul{
    list-style: none;
}
.nav-menu ul{
    margin: 0;
    justify-content: center;
    gap: 1rem;
    font-size: 1.5rem;
}
a{
    text-decoration: none;
    display: inline-block;
    font-weight: 300;
    color:black;
}
.home{
    color:#ff7648;
}
.hover:hover{
    color:#ff7648;
    transition: 0.2s all ease-in;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttons{
    font-size: 1.5rem;
}
.signUp, .login{
    border: 1px solid #ff7648;
    padding:7px 20px;
    font-size: 1rem;
    background-color: #ffffff;
    border-radius: 0.5rem;
    font-weight: 400;
    cursor: pointer;
}
.login{
    margin-left: 1rem;
    background-color: #ff7648;
    color: aliceblue;
}
.signUp:hover{
    box-shadow: 1px 1px 8px #ff7648;
}
.hover2:hover{
    background-color: #ff4e13d6;
    transition: all 0.4s ease-in-out;
    box-shadow: 0 0 10px #E07A5F;
    border: 1px solid #fff;
    color: #fff;
}
/* -------------------------------------- */

.main-body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0px 50px 50px 50px;
}
.petDiv{
    background-color: #90270a54;
    width: 100%;
}
.main-body .petImg{
    height: 400px;
}
.main2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: #f4ece1;
}
.dogfact{
    display: inline-block;
}
.iconc{
    text-align: center;
    background-color: #ffdfd6;
    border-radius: 10px;
    display: inline-block;
}
.card.c2{
    max-width: 400px;
}
.card-text{
    color: #454545;
}
.card-subtitle.health{
    font-weight: 500;
}
.rec{
    font-weight: 300;
    display: inline;
}
.card-subtitle{
    color: #808080;
    font-weight: 400;
    font-family: 'Barlow', sans-serif;
}
.adoptBtn{
    border: 1px solid #ff7648;
    padding: 0px 30px;
    font-size: 2rem;
    background-color: #ef815df6;
    border-radius: 0.5rem;
    font-weight: 400;
    cursor: pointer;
    color: #fff;
    width: 100%;
}
.flex-dr{
    flex-direction: column;
}
/* -------------------------------------------- */
footer{
    position: relative;
    bottom: 0;
    background-color: #f4ece1;
    margin: 0 50px;
}
.main-content{
 display:flex;
 flex: 2 1 auto;
}
.main-content.box{
  flex-basis:50%;
  padding : 10px 20px;
}
.heading{
    margin: 20px 50px 20px 0px;
    font-size: 1.125rem;
    text-transform: uppercase;
}
.left.box{
    max-width: 600px;
    margin-left: 25px;
}
.left .content{
   text-align: justify; 
}
.left .content .social{
margin: 20px 0 0 0;
}
.left .content .social a{
    padding: 0 15px;
}
.left .content .social a span{
 height: 40px;
 width: 40px;
 background: white;
 line-height: 40px;
 text-align: center;
 font-size: 18px;
 border-radius :5px;
 transition: 0.3s;
}
.left .content .social a span:hover{
    background-color: #ff7648;
}

footer p{
    margin-right: 100px;
}
.centerbox{
    min-width: 350px;
    justify-content: center;
}
.centerbox .sub{
    padding: 10px;
}
.centerbox .ic{
    padding-right: 10px;
}

.rightbox button{
    margin: 0.5rem 0;
    padding: 0.5rem 3.6rem;
    align-items: center;
    border:none;
    background-color:#fc8969;
    border-radius: 0.5rem;
    transition:background-color 0.3s;
    color:white;
    text-align: center;
    cursor:pointer;
    font-size: 1rem;
    font-weight: 500;
}
.rightbox button:hover{
   background-color: #ff7648;
}
.rightbox{
    min-width: 300px;
}
.rightbox .email .msg{
    padding: 10px;
}
.email.msg input{  
    border: 1px solid #faccbd;
} 
footer .endNote{
    text-align: center;
    padding: 10px;
    background-color: #f1af9d;
}